.settings-dialog {
    width: 320px;
    height: 400px;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-dialog h2 {
    margin-top: 30;
    text-align: center;
}

.setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    display: flex;
}

.setting-row input {
    width: 180px;
    margin-left: 10px;
}

.setting-row label {
    font-size: 20px;
    font-weight: bold;
}

.actions-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.actions {
    margin-top: 20px;
    text-align: center;
}
.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #dc260a;
    color: white;
    font-size: 25px;
}
.actions:first-child button {
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #2196f3;
    color: white;
    font-size: 25px;
}
